<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irewind"
    android:installLocation="preferExternal">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name="com.irewind.IRApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/IRAppTheme.Splash">
        <activity
            android:name="com.irewind.activities.IRSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/IRAppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.irewind.activities.IRLoginActivity"
            android:label="@string/title_activity_irlogin"
            android:screenOrientation="portrait"
            android:theme="@style/IRAppTheme.Splash"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.irewind.activities.IRForgotPasswordActivity"
            android:label="@string/title_activity_irforgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/IRAppTheme.Splash"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.irewind.activities.IRRegisterActivity"
            android:label="@string/title_activity_irregister"
            android:screenOrientation="portrait"
            android:theme="@style/IRAppTheme.Splash"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.irewind.activities.IRTabActivity"
            android:label="@string/title_activity_irtab"
            android:screenOrientation="portrait"
            android:theme="@style/IRAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.IRAddCommentActivity"
            android:label="@string/title_activity_ircomment"
            android:screenOrientation="portrait"
            android:theme="@style/IRAppTheme.Dialog"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name="com.irewind.activities.IRFullScreenMovieActivity"
            android:label="@string/title_activity_irfull_screen_movie"
            android:theme="@style/IRAppTheme.Splash"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="4a9d7c15ee3f03a7f1d65eaed144b5e7c1dae1ea" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>
